@use "/src/styles/mixins" as *;
@use "/src/styles/colors" as *;

// $color-bg-section: #f9faf8;
// $color-bg-white: #ffffff;
// $color-bg-hover: #f9fafb;
// $color-text-dark: #1a283b;
// $color-text-muted: #4a5565;
// $color-accent: #A7A746;
// $color-border: #e5e7eb;

.faqSection {
  width: 100%;
  background-color: var(--bg2-color);
  padding: 3rem 0;
  @include onTablet { padding: 5rem 0; }
  @include onDesktop { padding: 6rem 0; }
}

.container {
  max-width: 56rem;
  margin: 0 auto;
  padding: 0 1rem;
  @include onTablet { padding: 0 2rem; }
}

.header {
  margin-bottom: 2rem;
  @include onTablet { margin-bottom: 3rem; }
  @include onDesktop { margin-bottom: 3.5rem; }

  h2 {
    color: var(--title-color);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;

    @include onTablet { font-size: 2.25rem; }
  }

  p {
    color: var(--secondText-color);
    font-size: 1rem;
    line-height: 1.625;
  }
}

.faqList {
  background-color:  var(--bg2-color);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem; 
}

.faqItem {
  border-bottom: 1px solid var(--border-color);

  &:last-child {
    border-bottom: none;
  }
}

.questionButton {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  
  padding: 1rem; 
  @include onTablet { padding: 1.5rem 2rem; }

  &:hover {
    background-color: var(-select-color);
  }
}

.questionText {
  font-size: 1rem;
  font-weight: 500;
  color: var(--title2-color);
  transition: color 0.2s;

  &.active {
    color: #A7A746;
  }
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  flex-shrink: 0;
  margin-top: 0.25rem; 
  transition: transform 0.3s duration-300;

  &.open {
    transform: rotate(180deg);
  }
}

.answerWrapper {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  max-height: 0;
  opacity: 0;

  &.open {
    max-height: 24rem;
    opacity: 1;
  }
}

.answerContent {
  padding-bottom: 1.25rem;
  padding-left: 1rem;
  padding-right: 1rem;

  @include onTablet { 
    padding-bottom: 1.75rem; 
    padding-left: 2rem;
    padding-right: 2rem;
  }

  p {
    color: var(--secondText-color);
    font-size: 0.875rem;
    line-height: 1.625;
  }
}