@use "/src/styles/mixins" as *;

.nav {
  &__links {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include onDesktop {
      gap: 36px;
      flex-direction: row;
    }
  }

  &__link {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    position: relative;
    line-height: 36px;
    width: fit-content;
    white-space: nowrap;

    @include onTablet {
      line-height: 48px;
      font-size: 14px;
    }

    @include onDesktop {
      line-height: 64px;
    }

    &:hover {
      color: #a7a746;
    }

    @include onDesktop {
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: #a7a746;

        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
      }
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }

  &__link-drop {
    @extend .nav__link;
    line-height: 24px;
  }
}

.is-active {
  color: #a7a746;

  &::after {
    transform: scaleX(1);
  }
}

.dropdown {
  position: relative;
  width: 100%;

  @include onTablet {
    width: auto;
  }

  &__button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    text-align: left;
    display: block;
    width: fit-content;

    @include onTablet {
      width: auto;
    }
  }

  &__menu {
    display: none;
    flex-direction: column;
    gap: 8px;
    background: #1a283b;
    width: 100%;
    padding: 12px 16px;

    position: static;

    &.is-open {
      display: flex;
    }

    @include onDesktop {
      position: absolute;
      left: 0;
      top: 100%;
      width: auto;
      z-index: 10;
      border-radius: 4px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    }
  }
}

@include onDesktop {
  .dropdown:hover .dropdown__menu {
    display: flex;
  }
}
