@mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin inlinePadding() {
  padding-inline: 16px;

  @include onTablet {
    padding-inline: 24px;
  }

  @include onDesktop {
    padding-inline: 32px;
  }
}
