.main-button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #a7a746;
  font-size: 12px;

  border: 1px solid #a7a746;
  padding: 6px 10px;

  margin: 0 auto;
  white-space: nowrap;

  &:hover {
    color: #ffffff;
    background-color: #a7a746;
    transition: color 0.3s;
  }
}
