@use "../../styles/mixins" as *;

.header {
  background-color: #1a283b;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 101;

  &__container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #4a5565 solid;
    gap: 16px;
    @include inlinePadding;
  }

  &__logo {
    padding-block: 8px;
    display: flex;
    gap: 8px;

    &-texts {
      display: flex;
      flex-direction: column;
      gap: 8px;
      justify-content: center;
    }
  }

  &__companyName {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
  }

  &__slogan {
    color: #a7a746;
    font-size: 6px;
    font-weight: 400;
  }

  &__nav {
    display: none;
    height: 100%;

    @include onDesktop {
      display: block;
    }
  }
}

.mobileControls {
  display: flex;
  align-items: center;
  gap: 16px;

  &__menuToggle,
  &__themeBtn {
    all: unset;

    svg {
      stroke: #fff;
      width: 20px;
      height: 20px;

      @include onTablet {
        width: 24px;
        height: 24px;
      }
    }
  }

  @include onTablet {
    gap: 24px;
  }

  @include onDesktop {
    display: none;
  }
}

.nav {
  display: none;
  align-items: center;
  gap: 32px;
  height: 64px;

  @include onDesktop {
    display: flex;
  }

  &__schedule {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #2a3a4f4d;
  }

  &__icon {
    stroke: #a7a746;
  }

  &__text {
    color: #fff;
  }

  &__themeBtn {
    all: unset;

    svg {
      stroke: #fff;
      width: 24px;
      height: 24px;
    }
  }
}

.mobileMenu {
  margin-top: 5px;
  z-index: 1;
  @include inlinePadding;
}


.nav__PhoneBtn {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #a7a746;
  font-size: 12px;

  border: 1px solid #a7a746;
  padding: 6px 10px;

  margin: 0 auto;

  &:hover {
    color: #ffffff;
    background-color: #a7a746;
    transition: color 0.3s;
  }
}