@use "../../styles/mixins" as *;

.header {
  background-color: #1a283b;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: -0.8px;
  z-index: 200;

  &__container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px #4a5565 solid;
    gap: 24px;
    @include inlinePadding;
  }

  &__logo {
    padding-block: 8px;
    text-decoration: none;
    display: flex;
    gap: 8px;
    &-texts {
      display: flex;
      flex-direction: column;
      gap: 4px;
      justify-content: center;
    }
  }

  &__companyName {
    color: #fff;
    font-size: 14px;
    font-weight: 700;

    @include onTablet {
      font-size: 18px;
    }
  }

  &__slogan {
    color: #a7a746;
    font-size: 7px;
    font-weight: 400;
    letter-spacing: 1px;

    @include onTablet {
      font-size: 10px;
    }
  }

  &__nav {
    display: none;
    height: 100%;

    @include onDesktop {
      display: block;
    }
  }
}

.mobileControls {
  display: flex;
  align-items: center;
  gap: 16px;

  &__menuToggle,
  &__themeBtn {
    all: unset;

    svg {
      stroke: #fff;
      width: 20px;
      height: 20px;

      @include onTablet {
        width: 24px;

        height: 24px;
      }
    }
  }

  @include onTablet {
    gap: 24px;
  }

  @include onDesktop {
    display: none;
  }
}

.nav {
  display: none;
  align-items: center;
  gap: 32px;
  height: 64px;

  @include onDesktop {
    display: flex;
  }

  &__schedule {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #2a3a4f4d;
  }

  &__icon {
    stroke: #a7a746;
  }

  &__text {
    color: #fff;
    white-space: nowrap;
  }

  &__themeBtn {
    all: unset;

    svg {
      stroke: #fff;
      width: 24px;
      height: 24px;
    }
  }
}

.nav__PhoneBtn {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a7a746;
  font-size: 12px;
  border: 1px solid #a7a746;
  padding: 6px 10px;
  margin: 0 auto;

  &:hover {
    color: #ffffff;

    background-color: #a7a746;

    transition: color 0.3s;
  }
}

.mobileMenu {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: calc(100vh - 64px);
  margin-top: 64px;

  display: flex;
  flex-direction: column;
  gap: 48px;

  padding-block: 24px 36px;

  background-color: #1a283b;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 0.35s ease;

  @include inlinePadding;

  &--open {
    transform: translateX(0);
  }

  @include onDesktop {
    display: none;
  }
}

.contactLink {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.2s;

  & > div {
    display: flex;
    align-items: center;
  }
}

.nav__bottom {
  border-top: 1px solid #a7a7461a;
  padding-top: 24px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include onTablet {
    gap: 32px;
  }
}
